{% extends "home_admin_academico.html" %}
{% load static %}
{% block title %} registro {% endblock %} 
    
{% block extra_head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- referencia a estilos  --> 
    <link rel="stylesheet" href="{% static 'css/register.css' %}">  <!-- referencia a estilos  -->      
{% endblock %}

{% block content %}  


<h1>Gestión de usuarios:</h1> 

<div class="container mt-5">
    <h2>Usuarios registrados en el sistema</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID del usuario</th>
                <th>Nombre de usuario </th>
                <th>Correo electronico </th>
                <th>Rol del Usuario</th>
                <th>Registrado</th>
                <th>Estado</th>
                <th>editar</th>
                <th>Eliminar</th>
                <th>Activar/Desactivar</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.PerfilUsuario.Rol.nombre}}</td>
                <td>{{u.date_joined}}</td>
                <td>{{u.is_active}}</td>
                <!-- <td>{{u.activo}}</td> -->
                <td><button class="btn btn-sm btn-primary">Editar</button></td>
                <td><a href="{% url 'eliminar_admin_gestion_users' 'usuarios' u.id %}"><button  class="btn btn-sm btn-danger">Eliminar</button></a></td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="user1" checked>
                    <label class="form-check-label" for="user1"></label>
                  </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar_usuario">
                      + Agregar Nuevo
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="agregar_usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nuevo Usuario </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
        {% csrf_token %}
        {{form_usuarios}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" name="form" value="usuarios" class="btn btn-primary">Guardar Cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
    <h2>Personas registradas en el sistema</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID del usuario</th>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Fecha de nacimiento</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Sexo</th>
                <th>editar</th>
                <th>Eliminar</th>
                <th>Activar/Desactivar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in personas %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.user}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.documento}}</td>
                <td>{{p.fecha_nacimiento}}</td>
                <td>{{p.direccion}}</td>
                <td>{{p.telefono}}</td>
                <td>{{p.sexo.descripcion}}</td>
                <td><button class="btn btn-sm btn-primary">Editar</button></td>
                <td><a href="{% url 'eliminar_admin_gestion_users' 'personas' p.id %}"><button  class="btn btn-sm btn-danger">Eliminar</button></a></td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="user1" checked>
                    <label class="form-check-label" for="user1"></label>
                  </div>
                </td>
            </tr>
            {%endfor%}
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar_persona">
                      + Agregar Nuevo
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="agregar_persona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nueva Persona</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
        {% csrf_token %}
        {{form_personas}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" name="form" value="personas"  class="btn btn-primary">Guardar Cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- 

Asignar roles a los usuarios.

Activar/desactivar cuentas. -->

{% endblock %}